  .dropbtn {
    border: none;
    background-color: transparent;
  }

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    font-weight: bold;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown-item {
    list-style: none;
  }

  @media only screen and (min-width: 768px) {
    .dropdown-item  {
      display: block;
      column-count: 2;
    }

    .dropdown-megamenu  {
      display: block;
      column-count: 3;
      align-items: center;
    }

    .dropdown-megamenu img {
      border-radius: 15px;
      width: 168px;
      height: 138px;
    }

    .dropdown:hover .dropdown-content {display: flex;}

     .dropbtn:hover {
    border-bottom: solid 3px orange;
    font-weight: bold;
  }

  .dropbtn:focus {
    outline: 2px solid blue;
  }

  .carousel-item img {
    width: 100%;
    height: 50%;
  }
  }

  
  
  .dropdown-item:hover {
    background-color: lightgray;
  }

  .dropdown-item img {
    border-radius: 5px;
  }

  .dropdown-megamenu {
    display: flex;
    list-style: none;
  }

  .dropdown-megamenu img {
    border-radius: 15px;
    width: 75px;
    height: 75px;
  }

  @keyframes cardAnimation {
  from {
    width: 90%;
    height: 90%;
  }
  to {
    width: 100%;
    height: 100%;
  }
}

  .card{
    height: 20rem;
  }

  .card p{
    font-size: 1.2rem;
  }

  .card img{
    width: 90%;
    height: 90%;
    position: absolute;
    right: 0;
    
  }

  .card:hover img{
    animation: cardAnimation;
    animation-duration: 0.5s;
    width: 100%;
    height: 100%;
  }

  .socialSection-header h2{
    text-align: center;
    background-image: url('../assets/carouselSocial/bg_potatos_left.png'), url('../assets/carouselSocial/bg_potatos_right.png');
    background-position: left center, right center;
    background-repeat: no-repeat;
  }